doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="shortcut icon" href="#">
    title Zoom clone
    link(rel="stylesheet" href='../public/css/style.css')
  body 
    main
      div#welcome
        h1#title P2P chat
        form
          input(placeholder='room name', required,type='text') 
          button
            img(src='../public/img/enter.png')
      div#call
        ul#chatList
        form#chattingForm
          input(type="text")
          button
            img(src="../public/img/send.png", alt="send button")
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")