* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#call {
  background-color: #faebd7;
  height: 100vh;
  display: none;
  flex-direction: column;
}

#chattingForm {
  background-color: white;
  flex: 0 0 60px;
  display: flex;
}

#chattingForm input {
  flex: 1 1 auto;
  border: none;
  font-size: 25px;
  outline: none;
  padding-left: 20px;
}

#chattingForm button {
  flex: 0 0 80px;
  background: none;
  border: none;
}

#chattingForm button img {
  height: 30px;
}

#chatList {
  flex-grow: 10;
  /* background-color: blue; */
  flex: 1 1 auto;
  overflow: auto;
}
