* {
  margin: 0;
  padding: 0;
}

#call {
  background-color: #aee1ff;
  height: 100vh;
  display: none;
  flex-direction: column;
}

#chattingForm {
  background-color: white;
  flex: 0 0 60px;
  display: flex;
}

#chattingForm input {
  flex: 1 1 auto;
  border: none;
  font-size: 25px;
  outline: none;
  padding-left: 20px;
}

#chattingForm button {
  flex: 0 0 80px;
  background: none;
  border: none;
}

#chattingForm button img {
  height: 30px;
}

#chatList {
  list-style: none;
  flex-grow: 10;
  flex: 1 1 auto;
  overflow: auto;
  padding: 20px;
}

#myMsg,
#anonMsg {
  padding-bottom: 10px;
  display: flex;
}

#myMsg div,
#anonMsg div {
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  white-space: pre-wrap;
  word-break: break-all;
}

#myMsg {
  flex-direction: row-reverse;
}
#myMsg div {
  background-color: white;
}

#anonMsg {
  flex-direction: row;
}
#anonMsg div {
  background-color: rgb(255, 244, 94);
}
